/** {
  margin: 0 auto;
}*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Passion One', cursive;
  font-size: 5em;
  margin-top: 50px;
  margin-bottom: 25px;
}

h3 {
  font-family: 'Passion One', cursive;
  font-size: 1.5em;
}

p {
  font-family: 'Passion One', cursive;
  font-size: 1em;
  /*margin-top: 5px;*/
}

body {
  text-align: center;
  /*background-color: #FFDC00;*/
  /*background-image: url(http://i.imgur.com/67EjwuD.jpg);*/
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

#header {
  height: 25px;
  width: 100%;
  background-color: #696158;
}

.inputs {
  margin-bottom: 15px;
  height: 25px;

}

#submit-btn {
  background-color: transparent;
  height: 25px;
  font-size: 1em;
}

#map {
  width: 100%x;
  height: 400px;
}

.map-hidden {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
